#type {
  margin-top: 3.5rem;
  padding: 1.5rem;
  display: flex;
  justify-content: center;

  .box-card-container {
    max-width: 75rem;
    background-color: rgba(255, 255, 255, 0.5);
    border-color: rgba(255, 255, 255, 0.6);

    .corns-title {
      font-size: 1.875rem;
      height: 3.5rem;
      line-height: 3.5rem;
      margin: 2rem;
      color: #fafafa;
    }

    //  下拉框 row
    .select-container {
      width: 100%;
      min-height: 4rem;
      margin: 1rem 0;
      align-items: center;

      // col
      .select-wrap {
        .selete {
          display: flex;
          flex-wrap: wrap;

        }
        .selete:after {
          content: '';
          // width: 5rem;
      }
      }
    }

    // 农作物病态特征 row
    .cornImg-container {
      width: 100%;
      align-items: center;
      .cornImg-wrap {
        .cornImg {
          margin-bottom: 1rem;
          .box-card {
            margin: 1rem 0;
            .cornImage {
              height: 5rem;
              width: auto
            }
          }
        }
      }
    }

    // 农作物病态分析 row
    .type-container {
      width: 100%;
      height: 100%;
      align-items: center;

        // col
      .type-wrap {
        .type {
          margin-bottom: 1rem;
          .select {
            margin: 5rem;
          }
        }
      }
    }

  }
}
